<html>
    <body>
        <h2>Favourite news items</h2>
        <ul id="titles-list"></ul>
        <script>
            // let RSS_URL = 'https://feeds.feedburner.com/ndtvnews-top-stories';
            fetch('/api/favourites')
            .then(response => response.json())
            .then(favs => {
                let listParent = document.getElementById('titles-list')
                for(let i = 0; i < favs.length; i++){
                    let titleList = document.createElement('li')
                    let titleLink = document.createElement('a');
                    titleLink.setAttribute('href', `/details?id=${favs[i].newsId}`);
                    titleLink.innerHTML = `${favs[i].title}`;
                    listParent.appendChild(titleList);
                    titleList.appendChild(titleLink);
                }
            })
        </script>
    </body>
</html>