a:visited {
    color: LinkText;
}

#newslist, #favouriteslist{
    margin: 1rem;
    padding: 1rem;
}

.image{
    object-fit: cover;
    width: 30rem;
    height: 30rem;
}

button:active{
    background: gray;
}

button:focus{
    background: darkgray;
}

